* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
 background-color: #C4EEF2;
    
}

.cabecalho {
    display: flex;
    flex-direction: row;
}
.cabecalho ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px; 
    background-color: #025159;
    list-style: none;
    gap: 2rem;


}

.cabecalho ul :hover {
    color: #C4EEF2;
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}

.cabecalho a {
    text-decoration: none;
    font-weight: bold;
    color: #C4EEF2;
}

#noticias {
    display: flex;
    flex-direction: row;
}


#noticias article {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    



}

#noticias article h1{
    color: #023136;
    padding-bottom: 1rem ;
}

#noticias article p {
    color: #025159;
    padding-left: 1rem;
}



.categorias {
    background-color: #A67458;
    margin-top: 2.5rem;
    padding-top: 1rem;
    width: 85rem;
    height: 28rem;
    border-radius: 5px ;
    margin-right: 2rem;
    


}

.categorias h2 {
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding-bottom: 1rem;
}

.categorias ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.categorias ul li p {
    font-size: small;
}

.categorias ul li a {
    padding-top: 0.5rem;
    text-decoration: none;
    font-weight: semi-bold;
    color: white;
}

.categorias ul li a:hover {
    color: white;
    font-weight: bold;
    transform: scale(1.1);
    transition: ease-in-out 0.3s;

}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #025159;
}



figure img {
    width: 40rem;
    height: 30rem;
    border-radius: 3px;
}


figure figcaption {
    margin-top: 1rem;
}

figure a {
    text-decoration: none;
    color: #025159;
    font-weight: bold;
    margin-top: 1rem;
}

figure a:hover {
    color: #025159;
    border-radius: 3px;
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}






#sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #025159;
    margin-top: 2rem;

}

#sobre h2 {
    color:#023136 ;
    margin-bottom: 1rem;
}


#comentario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    
}

#comentario h2 {
    color:#023136;
    font-weight: bold;
}

#comentario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
   
}


#comentario form input {
    border-radius: 3px;
    width: 260px;
    height: 50px;
    border: none;
} 


#comentario form ::placeholder{
    padding-left: .5rem;
    font-weight: 600;

}

#comentario form button {
    border-radius: 3.5px;
    width: 150px;
    height: 30px;
    margin-left: 0.5rem;
    background-color: #025159;
    color: white;
    border: none;
    font-weight: bold;
    
    
}

#comentario form button:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;

}

.rodape a {
    text-decoration: none;
    color: #025159;
    font-weight: bold;
}

.rodape a:hover {
    color: #025159;
    border-radius: 2px;
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
   
    
}

@media screen and (max-width: 1090px) {
        section {
            display: flex;
            flex-direction: column;
            
        }


        .cabecalho {
            width: 100%;
        }

        .categorias {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .categorias h2, p  {
            padding-left: 1rem;
        }

        figure {
            display: flex;
            margin-top: 1rem;
        }

        figure img {
            width: 40rem;
        }


}















